openapi: 3.0.0
info:
  title: SubMirror API
  description: API for SubMirror - Subscription Mirroring and Management Tool
  version: 0.1.0
servers:
  - url: https://enko.llulun.top
    description: Production server
  - url: http://localhost:8080
    description: Local server

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    AdminToken:
      type: apiKey
      in: header
      name: X-Admin-Token

  schemas:
    Error:
      type: object
      properties:
        message:
          type: string

    LoginRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
        password:
          type: string
        cfToken:
          type: string
          description: Cloudflare Turnstile token

    LoginResponse:
      type: object
      properties:
        ok:
          type: boolean
        token:
          type: string

    ChangePasswordRequest:
      type: object
      required:
        - currentPassword
        - newPassword
      properties:
        currentPassword:
          type: string
        newPassword:
          type: string
          minLength: 10
          description: Must contain uppercase, lowercase, and number

    SourceItem:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
        name:
          type: string
        minutes:
          type: integer
        token:
          type: string
        enabled:
          type: boolean
        updatedAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
        lastSyncStatus:
          type: string
        lastError:
          type: string
        ua:
          type: string
        include:
          type: array
          items:
            type: string
        exclude:
          type: array
          items:
            type: string

    SourcePayload:
      type: object
      required:
        - url
      properties:
        url:
          type: string
        name:
          type: string
        minutes:
          type: integer
        ua:
          type: string
        include:
          type: string
          description: Comma-separated regex patterns
        exclude:
          type: string
          description: Comma-separated regex patterns
        expiresAt:
          type: string
          format: date-time
          nullable: true
        ttlMinutes:
          type: integer
        durationUnit:
          type: string
          enum: [minutes, hours]
        durationValue:
          type: integer

security:
  - BearerAuth: []

paths:
  /healthz:
    get:
      summary: Health check
      security: []
      responses:
        '200':
          description: Server is healthy
          content:
            text/plain:
              schema:
                type: string
                example: ok

  /auth/login:
    post:
      summary: Login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Invalid input
        '401':
          description: Unauthorized
        '429':
          description: Too many attempts

  /auth/me:
    get:
      summary: Get current user info
      responses:
        '200':
          description: User info
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  user:
                    type: object
                    properties:
                      username:
                        type: string

  /auth/change-password:
    post:
      summary: Change admin password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
      responses:
        '200':
          description: Password changed
        '400':
          description: Weak password or missing fields
        '401':
          description: Invalid current password

  /status:
    get:
      summary: Get system status
      responses:
        '200':
          description: System status
          content:
            application/json:
              schema:
                type: object
                properties:
                  updatedAt:
                    type: string
                  loading:
                    type: boolean
                  lastError:
                    type: string
                  activeId:
                    type: string
                  webhook:
                    type: string

  /stats:
    get:
      summary: Get usage statistics
      responses:
        '200':
          description: Statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  today:
                    type: integer
                  topIPs:
                    type: array
                  topUAs:
                    type: array
                  recentLogs:
                    type: array
                  alerts:
                    type: array

  /logs:
    get:
      summary: Get user logs
      responses:
        '200':
          description: Logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  logs:
                    type: array

  /refresh:
    post:
      summary: Refresh active source
      responses:
        '200':
          description: Refresh successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  updatedAt:
                    type: string
                  etag:
                    type: string
        '502':
          description: Refresh failed

  /sources:
    get:
      summary: List sources
      responses:
        '200':
          description: List of sources
          content:
            application/json:
              schema:
                type: object
                properties:
                  activeId:
                    type: string
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/SourceItem'
    post:
      summary: Create source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourcePayload'
      responses:
        '200':
          description: Source created
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  id:
                    type: string
                  token:
                    type: string

  /sources/{id}:
    parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
    put:
      summary: Update source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourcePayload'
      responses:
        '200':
          description: Source updated
    delete:
      summary: Delete source
      responses:
        '200':
          description: Source deleted

  /sources/{id}/activate:
    post:
      summary: Activate source
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Source activated

  /sources/{id}/sync:
    post:
      summary: Trigger sync for source
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Sync started/completed
        '502':
          description: Sync failed

  /sources/{id}/toggle-sync:
    post:
      summary: Enable/Disable auto sync
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
      responses:
        '200':
          description: Toggled

  /sources/{id}/rotate-token:
    post:
      summary: Rotate access token
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Token rotated
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  token:
                    type: string

  /sources/{id}/history:
    get:
      summary: Get history snapshots
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      responses:
        '200':
          description: History list
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        ts:
                          type: integer
                        size:
                          type: integer

  /sources/{id}/rollback:
    post:
      summary: Rollback to history snapshot
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - filename
              properties:
                filename:
                  type: string
      responses:
        '200':
          description: Rolled back successfully

  /api/settings:
    post:
      summary: Update global settings
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                webhook:
                  type: string
      responses:
        '200':
          description: Settings updated

  /api/test-webhook:
    post:
      summary: Test webhook
      responses:
        '200':
          description: Test sent

  /sub:
    get:
      summary: Get active subscription content
      security: []
      parameters:
        - in: query
          name: token
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Content
          content:
            text/plain: {}
            application/yaml: {}
        '403':
          description: Invalid token

  /sub/{id}:
    get:
      summary: Get specific subscription content
      security: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
        - in: query
          name: token
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Content
          content:
            text/plain: {}
            application/yaml: {}
        '403':
          description: Invalid token
